<option value="New Zealand**NZ**New Zealand Dollars**NZD**1.5">New Zealand(New Zealand Dollars)(NZD)</option>
<option value="Cook Islands**CK**New Zealand Dollars**NZD**1.5">Cook Islands(New Zealand Dollars)(NZD)</option>
<option value="Niue**NU**New Zealand Dollars**NZD**1.5">Niue(New Zealand Dollars)(NZD)</option>
<option value="Pitcairn**PN**New Zealand Dollars**NZD**1.5">Pitcairn(New Zealand Dollars)(NZD)</option>
<option value="Tokelau**TK**New Zealand Dollars**NZD**1.5">Tokelau(New Zealand Dollars)(NZD)</option>
<option value="Australian**AU**Australian Dollars**AUD**1.38">Australian(Australian Dollars)(AUD)</option>
<option value="Christmas Island**CX**Australian Dollars**AUD**1.38">Christmas Island(Australian Dollars)(AUD)</option>
<option value="Cocos (Keeling) Islands**CC**Australian Dollars**AUD**1.38">Cocos (Keeling) Islands(Australian Dollars)(AUD)</option>
<option value="Heard and Mc Donald Islands**HM**Australian Dollars**AUD**1.38">Heard and Mc Donald Islands(Australian Dollars)(AUD)</option>
<option value="Kiribati**KI**Australian Dollars**AUD**1.38">Kiribati(Australian Dollars)(AUD)</option>
<option value="Nauru**NR**Australian Dollars**AUD**1.38">Nauru(Australian Dollars)(AUD)</option>
<option value="Norfolk Island**NF**Australian Dollars**AUD**1.38">Norfolk Island(Australian Dollars)(AUD)</option>
<option value="Tuvalu**TV**Australian Dollars**AUD**1.38">Tuvalu(Australian Dollars)(AUD)</option>
<option value="American Samoa**AS**Euros**EUR**0.85">American Samoa(Euros)(EUR)</option>
<option value="Andorra**AD**Euros**EUR**0.85">Andorra(Euros)(EUR)</option>
<option value="Austria**AT**Euros**EUR**0.85">Austria(Euros)(EUR)</option>
<option value="Belgium**BE**Euros**EUR**0.85">Belgium(Euros)(EUR)</option>
<option value="Finland**FI**Euros**EUR**0.85">Finland(Euros)(EUR)</option>
<option value="France**FR**Euros**EUR**0.85">France(Euros)(EUR)</option>
<option value="French Guiana**GF**Euros**EUR**0.85">French Guiana(Euros)(EUR)</option>
<option value="French Southern Territories**TF**Euros**EUR**0.85">French Southern Territories(Euros)(EUR)</option>
<option value="Germany**DE**Euros**EUR**0.85">Germany(Euros)(EUR)</option>
<option value="Greece**GR**Euros**EUR**0.85">Greece(Euros)(EUR)</option>
<option value="Guadeloupe**GP**Euros**EUR**0.85">Guadeloupe(Euros)(EUR)</option>
<option value="Ireland**IE**Euros**EUR**0.85">Ireland(Euros)(EUR)</option>
<option value="Italy**IT**Euros**EUR**0.85">Italy(Euros)(EUR)</option>
<option value="Luxembourg**LU**Euros**EUR**0.85">Luxembourg(Euros)(EUR)</option>
<option value="Martinique**MQ**Euros**EUR**0.85">Martinique(Euros)(EUR)</option>
<option value="Mayotte**YT**Euros**EUR**0.85">Mayotte(Euros)(EUR)</option>
<option value="Monaco**MC**Euros**EUR**0.85">Monaco(Euros)(EUR)</option>
<option value="Netherlands**NL**Euros**EUR**0.85">Netherlands(Euros)(EUR)</option>
<option value="Portugal**PT**Euros**EUR**0.85">Portugal(Euros)(EUR)</option>
<option value="Reunion**RE**Euros**EUR**0.85">Reunion(Euros)(EUR)</option>
<option value="Samoa**WS**Euros**EUR**0.85">Samoa(Euros)(EUR)</option>
<option value="San Marino**SM**Euros**EUR**0.85">San Marino(Euros)(EUR)</option>
<option value="Slovenia**SI**Euros**EUR**0.85">Slovenia(Euros)(EUR)</option>
<option value="Spain**ES**Euros**EUR**0.85">Spain(Euros)(EUR)</option>
<option value="Vatican City State (Holy See)**VA**Euros**EUR**0.85">Vatican City State (Holy See)(Euros)(EUR)</option>
<option value="South Georgia and the South Sandwich Islands**GS**Sterling**GBP**0.76">South Georgia and the South Sandwich Islands(Sterling)(GBP)</option>
<option value="United Kingdom**GB**Sterling**GBP**0.76">United Kingdom(Sterling)(GBP)</option>
<option value="Jersey**JE**Sterling**GBP**0.76">Jersey(Sterling)(GBP)</option>
<option value="British Indian Ocean Territory**IO**USD**USD**1">British Indian Ocean Territory(USD)(USD)</option>
<option value="Guam**GU**USD**USD**1">Guam(USD)(USD)</option>
<option value="Marshall Islands**MH**USD**USD**1">Marshall Islands(USD)(USD)</option>
<option value="Micronesia Federated States of**FM**USD**USD**1">Micronesia Federated States of(USD)(USD)</option>
<option value="Northern Mariana Islands**MP**USD**USD**1">Northern Mariana Islands(USD)(USD)</option>
<option value="Palau**PW**USD**USD**1">Palau(USD)(USD)</option>
<option value="Puerto Rico**PR**USD**USD**1">Puerto Rico(USD)(USD)</option>
<option value="Turks and Caicos Islands**TC**USD**USD**1">Turks and Caicos Islands(USD)(USD)</option>
<option value="United States**US**USD**USD**1">United States(USD)(USD)</option>
<option value="United States Minor Outlying Islands**UM**USD**USD**1">United States Minor Outlying Islands(USD)(USD)</option>
<option value="Virgin Islands (British)**VG**USD**USD**1">Virgin Islands (British)(USD)(USD)</option>
<option value="Virgin Islands (US)**VI**USD**USD**1">Virgin Islands (US)(USD)(USD)</option>
<option value="Hong Kong**HK**HKD**HKD**7.85">Hong Kong(HKD)(HKD)</option>
<option value="Canada**CA**Canadian Dollar**CAD**1.29">Canada(Canadian Dollar)(CAD)</option>
<option value="Japan**JP**Japanese Yen**JPY**112.18">Japan(Japanese Yen)(JPY)</option>
<option value="Afghanistan**AF**Afghani**AFN**75.58">Afghanistan(Afghani)(AFN)</option>
<option value="Albania**AL**Lek**ALL**111.11">Albania(Lek)(ALL)</option>
<option value="Algeria**DZ**Algerian Dinar**DZD**120.48">Algeria(Algerian Dinar)(DZD)</option>
<option value="Anguilla**AI**East Caribbean Dollar**XCD**2.7">Anguilla(East Caribbean Dollar)(XCD)</option>
<option value="Antigua and Barbuda**AG**East Caribbean Dollar**XCD**2.7">Antigua and Barbuda(East Caribbean Dollar)(XCD)</option>
<option value="Dominica**DM**East Caribbean Dollar**XCD**2.7">Dominica(East Caribbean Dollar)(XCD)</option>
<option value="Grenada**GD**East Caribbean Dollar**XCD**2.7">Grenada(East Caribbean Dollar)(XCD)</option>
<option value="Montserrat**MS**East Caribbean Dollar**XCD**2.7">Montserrat(East Caribbean Dollar)(XCD)</option>
<option value="Saint Kitts**KN**East Caribbean Dollar**XCD**2.7">Saint Kitts(East Caribbean Dollar)(XCD)</option>
<option value="Saint Lucia**LC**East Caribbean Dollar**XCD**2.7">Saint Lucia(East Caribbean Dollar)(XCD)</option>
<option value="Saint Vincent Grenadines**VC**East Caribbean Dollar**XCD**2.7">Saint Vincent Grenadines(East Caribbean Dollar)(XCD)</option>
<option value="Argentina**AR**Peso**ARS**39.27">Argentina(Peso)(ARS)</option>
<option value="Armenia**AM**Dram**AMD**484.47">Armenia(Dram)(AMD)</option>
<option value="Aruba**AW**Netherlands Antilles Guilder**ANG**0.56">Aruba(Netherlands Antilles Guilder)(ANG)</option>
<option value="Netherlands Antilles**AN**Netherlands Antilles Guilder**ANG**0.56">Netherlands Antilles(Netherlands Antilles Guilder)(ANG)</option>
<option value="Azerbaijan**AZ**Manat**AZN**1.7">Azerbaijan(Manat)(AZN)</option>
<option value="Bahamas**BS**Bahamian Dollar**BSD**1">Bahamas(Bahamian Dollar)(BSD)</option>
<option value="Bahrain**BH**Bahraini Dinar**BHD**0.38">Bahrain(Bahraini Dinar)(BHD)</option>
<option value="Bangladesh**BD**Taka**BDT**84.04">Bangladesh(Taka)(BDT)</option>
<option value="Barbados**BB**Barbadian Dollar**BBD**2">Barbados(Barbadian Dollar)(BBD)</option>
<option value="Belarus**BY**Belarus Ruble**BYR**2.1">Belarus(Belarus Ruble)(BYR)</option>
<option value="Belize**BZ**Belizean Dollar**BZD**2.01">Belize(Belizean Dollar)(BZD)</option>
<option value="Benin**BJ**CFA Franc BCEAO**XOF**561.06">Benin(CFA Franc BCEAO)(XOF)</option>
<option value="Burkina Faso**BF**CFA Franc BCEAO**XOF**561.06">Burkina Faso(CFA Franc BCEAO)(XOF)</option>
<option value="Guinea-Bissau**GW**CFA Franc BCEAO**XOF**1561.06">Guinea-Bissau(CFA Franc BCEAO)(XOF)</option>
<option value="Ivory Coast**CI**CFA Franc BCEAO**XOF**561.06">Ivory Coast(CFA Franc BCEAO)(XOF)</option>
<option value="Mali**ML**CFA Franc BCEAO**XOF**561.06">Mali(CFA Franc BCEAO)(XOF)</option>
<option value="Niger**NE**CFA Franc BCEAO**XOF**561.06">Niger(CFA Franc BCEAO)(XOF)</option>
<option value="Senegal**SN**CFA Franc BCEAO**XOF**561.06">Senegal(CFA Franc BCEAO)(XOF)</option>
<option value="Togo**TG**CFA Franc BCEAO**XOF**561.06">Togo(CFA Franc BCEAO)(XOF)</option>
<option value="Bermuda**BM**Bermudian Dollar**BMD**1">Bermuda(Bermudian Dollar)(BMD)</option>
<option value="Bhutan**BT**Indian Rupee**INR**71.39">Bhutan(Indian Rupee)(INR)</option>
<option value="India**IN**Indian Rupee**INR**71.39">India(Indian Rupee)(INR)</option>
<option value="Bolivia**BO**Boliviano**BOB**6.9">Bolivia(Boliviano)(BOB)</option>
<option value="Botswana**BW**Pula**BWP**11.07">Botswana(Pula)(BWP)</option>
<option value="Bouvet Island**BV**Norwegian Krone**NOK**8.15">Bouvet Island(Norwegian Krone)(NOK)</option>
<option value="Norway**NO**Norwegian Krone**NOK**8.15">Norway(Norwegian Krone)(NOK)</option>
<option value="Svalbard and Jan Mayen Islands**SJ**Norwegian Krone**NOK**8.15">Svalbard and Jan Mayen Islands(Norwegian Krone)(NOK)</option>
<option value="Brazil**BR**Brazil**BRL**4.12">Brazil(Brazil)(BRL)</option>
<option value="Brunei Darussalam**BN**Bruneian Dollar**BND**1.35">Brunei Darussalam(Bruneian Dollar)(BND)</option>
<option value="Bulgaria**BG**Lev**BGN**1.67">Bulgaria(Lev)(BGN)</option>
<option value="Burundi**BI**Burundi Franc**BIF**1855">Burundi(Burundi Franc)(BIF)</option>
<option value="Cambodia**KH**Riel**KHR**4097.84">Cambodia(Riel)(KHR)</option>
<option value="Cameroon**CM**CFA Franc BEAC**XAF**1560.84">Cameroon(CFA Franc BEAC)(XAF)</option>
<option value="Central African Republic**CF**CFA Franc BEAC**XAF**560.84">Central African Republic(CFA Franc BEAC)(XAF)</option>
<option value="Chad**TD**CFA Franc BEAC**XAF**560.84">Chad(CFA Franc BEAC)(XAF)</option>
<option value="Congo Republic of the Democratic**CG**CFA Franc BEAC**XAF**560.84">Congo Republic of the Democratic(CFA Franc BEAC)(XAF)</option>
<option value="Equatorial Guinea**GQ**CFA Franc BEAC**XAF**560.84">Equatorial Guinea(CFA Franc BEAC)(XAF)</option>
<option value="Gabon**GA**CFA Franc BEAC**XAF**560.84">Gabon(CFA Franc BEAC)(XAF)</option>
<option value="Cape Verde**CV**Escudo**CVE**99.87">Cape Verde(Escudo)(CVE)</option>
<option value="Cayman Islands**KY**Caymanian Dollar**KYD**0.83">Cayman Islands(Caymanian Dollar)(KYD)</option>
<option value="Chile**CL**Chilean Peso**CLP**678.98">Chile(Chilean Peso)(CLP)</option>
<option value="China**CN**Yuan Renminbi**CNY**6.85">China(Yuan Renminbi)(CNY)</option>
<option value="Colombia**CO**Peso**COP**3039.66">Colombia(Peso)(COP)</option>
<option value="Comoros**KM**Comoran Franc**KMF**448.05">Comoros(Comoran Franc)(KMF)</option>
<option value="Congo-Brazzaville**CD**Congolese Frank**CDF**1664.6">Congo-Brazzaville(Congolese Frank)(CDF)</option>
<option value="Costa Rica**CR**Costa Rican Colon**CRC**568.17">Costa Rica(Costa Rican Colon)(CRC)</option>
<option value="Croatia (Hrvatska)**HR**Croatian Dinar**HRK**6.35">Croatia (Hrvatska)(Croatian Dinar)(HRK)</option>
<option value="Cuba**CU**Cuban Peso**CUP**1">Cuba(Cuban Peso)(CUP)</option>
<option value="Cyprus**CY**Cypriot Pound**CYP**0.64">Cyprus(Cypriot Pound)(CYP)</option>
<option value="Czech Republic**CZ**Koruna**CZK**21.83">Czech Republic(Koruna)(CZK)</option>
<option value="Denmark**DK**Danish Krone**DKK**6.37">Denmark(Danish Krone)(DKK)</option>
<option value="Faroe Islands**FO**Danish Krone**DKK**6.37">Faroe Islands(Danish Krone)(DKK)</option>
<option value="Greenland**GL**Danish Krone**DKK**6.37">Greenland(Danish Krone)(DKK)</option>
<option value="Djibouti**DJ**Djiboutian Franc**DJF**177.94">Djibouti(Djiboutian Franc)(DJF)</option>
<option value="Dominican Republic**DO**Dominican Peso**DOP**50.13">Dominican Republic(Dominican Peso)(DOP)</option>
<option value="East Timor**TP**Indonesian Rupiah**IDR**14408">East Timor(Indonesian Rupiah)(IDR)</option>
<option value="Indonesia**ID**Indonesian Rupiah**IDR**14408">Indonesia(Indonesian Rupiah)(IDR)</option>
<option value="Ecuador**EC**Sucre**ECS**25.58">Ecuador(Sucre)(ECS)</option>
<option value="Egypt**EG**Egyptian Pound**EGP**17.89">Egypt(Egyptian Pound)(EGP)</option>
<option value="El Salvador**SV**Salvadoran Colon**SVC**8.75">El Salvador(Salvadoran Colon)(SVC)</option>
<option value="Eritrea**ER**Ethiopian Birr**ETB**29.53">Eritrea(Ethiopian Birr)(ETB)</option>
<option value="Ethiopia**ET**Ethiopian Birr**ETB**29.53">Ethiopia(Ethiopian Birr)(ETB)</option>
<option value="Estonia**EE**Estonian Kroon**EEK**14.21">Estonia(Estonian Kroon)(EEK)</option>
<option value="Falkland Islands (Malvinas)**FK**Falkland Pound**FKP**0.82">Falkland Islands (Malvinas)(Falkland Pound)(FKP)</option>
<option value="Fiji**FJ**Fijian Dollar**FJD**2.12">Fiji(Fijian Dollar)(FJD)</option>
<option value="French Polynesia**PF**CFP Franc**XPF**102.18">French Polynesia(CFP Franc)(XPF)</option>
<option value="New Caledonia**NC**CFP Franc**XPF**102.18">New Caledonia(CFP Franc)(XPF)</option>
<option value="Wallis and Futuna Islands**WF**CFP Franc**XPF**102.18">Wallis and Futuna Islands(CFP Franc)(XPF)</option>
<option value="Gambia**GM**Dalasi**GMD**48.45">Gambia(Dalasi)(GMD)</option>
<option value="Georgia**GE**Lari**GEL**2.62">Georgia(Lari)(GEL)</option>
<option value="Gibraltar**GI**Gibraltar Pound**GIP**0.82">Gibraltar(Gibraltar Pound)(GIP)</option>
<option value="Guatemala**GT**Quetzal**GTQ**7.68">Guatemala(Quetzal)(GTQ)</option>
<option value="Guinea**GN**Guinean Franc**GNF**9237.48">Guinea(Guinean Franc)(GNF)</option>
<option value="Guyana**GY**Guyanaese Dollar**GYD**209.2">Guyana(Guyanaese Dollar)(GYD)</option>
<option value="Haiti**HT**Gourde**HTG**95.34">Haiti(Gourde)(HTG)</option>
<option value="Honduras**HN**Lempira**HNL**24.65">Honduras(Lempira)(HNL)</option>
<option value="Hungary**HU**Forint**HUF**276.55">Hungary(Forint)(HUF)</option>
<option value="Iceland**IS**Icelandic Krona**ISK**110.32">Iceland(Icelandic Krona)(ISK)</option>
<option value="Iran (Islamic Republic of)**IR**Iranian Rial**IRR**42376.47">Iran (Islamic Republic of)(Iranian Rial)(IRR)</option>
<option value="Iraq**IQ**Iraqi Dinar**IQD**1194.69">Iraq(Iraqi Dinar)(IQD)</option>
<option value="Israel**IL**Shekel**ILS**3.58">Israel(Shekel)(ILS)</option>
<option value="Jamaica**JM**Jamaican Dollar**JMD**136.16">Jamaica(Jamaican Dollar)(JMD)</option>
<option value="Jordan**JO**Jordanian Dinar**JOD**0.71">Jordan(Jordanian Dinar)(JOD)</option>
<option value="Kazakhstan**KZ**Tenge**KZT**364.94">Kazakhstan(Tenge)(KZT)</option>
<option value="Kenya**KE**Kenyan Shilling**KES**100.76">Kenya(Kenyan Shilling)(KES)</option>
<option value="Korea North**KP**Won**KPW**900">Korea North(Won)(KPW)</option>
<option value="Korea South**KR**Won**KRW**1122.12">Korea South(Won)(KRW)</option>
<option value="Kuwait**KW**Kuwaiti Dinar**KWD**0.3">Kuwait(Kuwaiti Dinar)(KWD)</option>
<option value="Kyrgyzstan**KG**Som**KGS**69.65">Kyrgyzstan(Som)(KGS)</option>
<option value="Lao PeopleÃ•s Democratic Republic**LA**Kip**LAK**8576.19">Lao PeopleÃ•s Democratic Republic(Kip)(LAK)</option>
<option value="Latvia**LV**Lat**LVL**0.64">Latvia(Lat)(LVL)</option>
<option value="Lebanon**LB**Lebanese Pound**LBP**1510.27">Lebanon(Lebanese Pound)(LBP)</option>
<option value="Lesotho**LS**Loti**LSL**15.19">Lesotho(Loti)(LSL)</option>
<option value="Liberia**LR**Liberian Dollar**LRD**207.73">Liberia(Liberian Dollar)(LRD)</option>
<option value="Libyan Arab Jamahiriya**LY**Libyan Dinar**LYD**1.38">Libyan Arab Jamahiriya(Libyan Dinar)(LYD)</option>
<option value="Liechtenstein**LI**Swiss Franc**CHF**0.97">Liechtenstein(Swiss Franc)(CHF)</option>
<option value="Switzerland**CH**Swiss Franc**CHF**0.97">Switzerland(Swiss Franc)(CHF)</option>
<option value="Lithuania**LT**Lita**LTL**3.05">Lithuania(Lita)(LTL)</option>
<option value="Macau**MO**Pataca**MOP**8.08">Macau(Pataca)(MOP)</option>
<option value="Macedonia**MK**Denar**MKD**52.64">Macedonia(Denar)(MKD)</option>
<option value="Madagascar**MG**Malagasy Franc**MGA**3705">Madagascar(Malagasy Franc)(MGA)</option>
<option value="Malawi**MW**Malawian Kwacha**MWK**765.5">Malawi(Malawian Kwacha)(MWK)</option>
<option value="Malaysia**MY**Ringgit**MYR**4.14">Malaysia(Ringgit)(MYR)</option>
<option value="Maldives**MV**Rufiyaa**MVR**15.41">Maldives(Rufiyaa)(MVR)</option>
<option value="Malta**MT**Maltese Lira**MTL**0.39">Malta(Maltese Lira)(MTL)</option>
<option value="Mauritania**MR**Ouguiya**MRO**357">Mauritania(Ouguiya)(MRO)</option>
<option value="Mauritius**MU**Mauritian Rupee**MUR**34.34">Mauritius(Mauritian Rupee)(MUR)</option>
<option value="Mexico**MX**Peso**MXN**18.75">Mexico(Peso)(MXN)</option>
<option value="Moldova Republic of**MD**Leu**MDL**16.79">Moldova Republic of(Leu)(MDL)</option>
<option value="Mongolia**MN**Tugrik**MNT**2660.71">Mongolia(Tugrik)(MNT)</option>
<option value="Morocco**MA**Dirham**MAD**9.38">Morocco(Dirham)(MAD)</option>
<option value="Western Sahara**EH**Dirham**MAD**9.38">Western Sahara(Dirham)(MAD)</option>
<option value="Mozambique**MZ**Metical**MZN**61.3">Mozambique(Metical)(MZN)</option>
<option value="Myanmar**MM**Kyat**MMK**1521.9">Myanmar(Kyat)(MMK)</option>
<option value="Namibia**NA**Dollar**NAD**14.64">Namibia(Dollar)(NAD)</option>
<option value="Nepal**NP**Nepalese Rupee**NPR**114.23">Nepal(Nepalese Rupee)(NPR)</option>
<option value="Nicaragua**NI**Cordoba Oro**NIO**33.67">Nicaragua(Cordoba Oro)(NIO)</option>
<option value="Nigeria**NG**Naira**NGN**362.37">Nigeria(Naira)(NGN)</option>
<option value="Oman**OM**Sul Rial**OMR**0.38">Oman(Sul Rial)(OMR)</option>
<option value="Pakistan**PK**Rupee**PKR**123.53">Pakistan(Rupee)(PKR)</option>
<option value="Panama**PA**Balboa**PAB**1">Panama(Balboa)(PAB)</option>
<option value="Papua New Guinea**PG**Kina**PGK**3.4">Papua New Guinea(Kina)(PGK)</option>
<option value="Paraguay**PY**Guarani**PYG**5856.91">Paraguay(Guarani)(PYG)</option>
<option value="Peru**PE**Nuevo Sol**PEN**3.3">Peru(Nuevo Sol)(PEN)</option>
<option value="Philippines**PH**Peso**PHP**154.08">Philippines(Peso)(PHP)</option>
<option value="Poland**PL**Zloty**PLN**3.67">Poland(Zloty)(PLN)</option>
<option value="Qatar**QA**Rial**QAR**3.64">Qatar(Rial)(QAR)</option>
<option value="Romania**RO**Leu**RON**3.98">Romania(Leu)(RON)</option>
<option value="Russian Federation**RU**Ruble**RUB**66.59">Russian Federation(Ruble)(RUB)</option>
<option value="Rwanda**RW**Rwanda Franc**RWF**920">Rwanda(Rwanda Franc)(RWF)</option>
<option value="Sao Tome and Principe**ST**Dobra**STD**21560.74">Sao Tome and Principe(Dobra)(STD)</option>
<option value="Saudi Arabia**SA**Riyal**SAR**3.75">Saudi Arabia(Riyal)(SAR)</option>
<option value="Seychelles**SC**Rupee**SCR**13.52">Seychelles(Rupee)(SCR)</option>
<option value="Sierra Leone**SL**Leone**SLL**7288.04">Sierra Leone(Leone)(SLL)</option>
<option value="Singapore**SG**Dollar**SGD**1.39">Singapore(Dollar)(SGD)</option>
<option value="Slovakia (Slovak Republic)**SK**Koruna**SKK**27.36">Slovakia (Slovak Republic)(Koruna)(SKK)</option>
<option value="Solomon Islands**SB**Solomon Islands Dollar**SBD**8.14">Solomon Islands(Solomon Islands Dollar)(SBD)</option>
<option value="Somalia**SO**Shilling**SOS**581">Somalia(Shilling)(SOS)</option>
<option value="South Africa**ZA**Rand**ZAR**14.65">South Africa(Rand)(ZAR)</option>
<option value="Sri Lanka**LK**Rupee**LKR**168.08">Sri Lanka(Rupee)(LKR)</option>
<option value="Sudan**SD**Dinar**SDG**45.12">Sudan(Dinar)(SDG)</option>
<option value="Suriname**SR**Surinamese Guilder**SRD**7.46">Suriname(Surinamese Guilder)(SRD)</option>
<option value="Swaziland**SZ**Lilangeni**SZL**15.19">Swaziland(Lilangeni)(SZL)</option>
<option value="Sweden**SE**Krona**SEK**8.86">Sweden(Krona)(SEK)</option>
<option value="Syrian Arab Republic**SY**Syrian Pound**SYP**9.68">Syrian Arab Republic(Syrian Pound)(SYP)</option>
<option value="Taiwan**TW**Dollar**TWD**30.77">Taiwan(Dollar)(TWD)</option>
<option value="Tajikistan**TJ**Tajikistan Ruble**TJS**9.68">Tajikistan(Tajikistan Ruble)(TJS)</option>
<option value="Tanzania**TZ**Shilling**TZS**2301.89">Tanzania(Shilling)(TZS)</option>
<option value="Thailand**TH**Baht**THB**32.36">Thailand(Baht)(THB)</option>
<option value="Tonga**TO**PaÃ•anga**TOP**2.33">Tonga(PaÃ•anga)(TOP)</option>
<option value="Trinidad and Tobago**TT**Trinidad and Tobago Dollar**TTD**6.78">Trinidad and Tobago(Trinidad and Tobago Dollar)(TTD)</option>
<option value="Tunisia**TN**Tunisian Dinar**TND**2.78">Tunisia(Tunisian Dinar)(TND)</option>
<option value="Turkey**TR**Lira**TRY**6.26">Turkey(Lira)(TRY)</option>
<option value="Turkmenistan**TM**Manat**TMT**3.51">Turkmenistan(Manat)(TMT)</option>
<option value="Uganda**UG**Shilling**UGX**3831.91">Uganda(Shilling)(UGX)</option>
<option value="Ukraine**UA**Hryvnia**UAH**28.11">Ukraine(Hryvnia)(UAH)</option>
<option value="United Arab Emirates**AE**Dirham**AED**3.67">United Arab Emirates(Dirham)(AED)</option>
<option value="Uruguay**UY**Peso**UYU**33.18">Uruguay(Peso)(UYU)</option>
<option value="Uzbekistan**UZ**Som**UZS**9364.99">Uzbekistan(Som)(UZS)</option>
<option value="Vanuatu**VU**Vatu**VUV**115.08">Vanuatu(Vatu)(VUV)</option>
<option value="Venezuela**VE**Bolivar**VEF**9.98">Venezuela(Bolivar)(VEF)</option>
<option value="Vietnam**VN**Dong**VND**24013.33">Vietnam(Dong)(VND)</option>
<option value="Yemen**YE**Rial**YER**250.35">Yemen(Rial)(YER)</option>
<option value="Zambia**ZM**Kwacha**ZMK**13071.89">Zambia(Kwacha)(ZMK)</option>
<option value="Zimbabwe**ZW**Zimbabwe Dollar**ZWD**1000000">Zimbabwe(Zimbabwe Dollar)(ZWD)</option>
<option value="Aland Islands**AX**Euro**EUR**0.85">Aland Islands(Euro)(EUR)</option>
<option value="Angola**AO**Angolan kwanza**AOA**362">Angola(Angolan kwanza)(AOA)</option>
<option value="Antarctica**AQ**Antarctican dollar**AQD**1">Antarctica(Antarctican dollar)(AQD)</option>
<option value="Bosnia and Herzegovina**BA**Bosnia and Herzegovina convertible mark**BAM**1.67">Bosnia and Herzegovina(Bosnia and Herzegovina convertible mark)(BAM)</option>
<option value="Congo (Kinshasa)**CD**Congolese Frank**CDF**1664.6">Congo (Kinshasa)(Congolese Frank)(CDF)</option>
<option value="Ghana**GH**Ghana cedi**GHS**4.97">Ghana(Ghana cedi)(GHS)</option>
<option value="Guernsey**GG**Guernsey pound**GGP**0.82">Guernsey(Guernsey pound)(GGP)</option>
<option value="Isle of Man**IM**Manx pound**GBP**0.76">Isle of Man(Manx pound)(GBP)</option>
<option value="Laos**LA**Lao kip**LAK**8576.19">Laos(Lao kip)(LAK)</option>
<option value="Macao S.A.R.**MO**Macanese pataca**MOP**8.08">Macao S.A.R.(Macanese pataca)(MOP)</option>
<option value="Montenegro**ME**Euro**EUR**0.85">Montenegro(Euro)(EUR)</option>
<option value="Palestinian Territory**PS**Jordanian dinar**JOD**0.71">Palestinian Territory(Jordanian dinar)(JOD)</option>
<option value="Saint Barthelemy**BL**Euro**EUR**0.85">Saint Barthelemy(Euro)(EUR)</option>
<option value="Saint Helena**SH**Saint Helena pound**GBP**0.76">Saint Helena(Saint Helena pound)(GBP)</option>
<option value="Saint Martin (French part)**MF**Netherlands Antillean guilder**ANG**0.56">Saint Martin (French part)(Netherlands Antillean guilder)(ANG)</option>
<option value="Saint Pierre and Miquelon**PM**Euro**EUR**0.85">Saint Pierre and Miquelon(Euro)(EUR)</option>
<option value="Serbia**RS**Serbian dinar**RSD**100.98">Serbia(Serbian dinar)(RSD)</option>
<option value="US Armed Forces**USAF**US Dollar**USD**1">US Armed Forces(US Dollar)(USD)</option>
