
      {% load staticfiles %}
    <!-- end body section -->
    <div class="container-fluid bg-ea sticky-fixed">
        <div class="row pt-53 ff-p">
            <div class="col-sm-2-custo pl-5">
                <h4 class="f-16 f-w-bold c-3f pl-5">
                    Businesses across
                </h4>
                <p class="f-14 pt-2 pl-5">Ahmedabad</p>
                <p class="f-14 pl-5">Bangalore</p>
                <p class="f-14 pl-5">Chennai</p>
                <p class="f-14 pl-5">Delhi</p>
                <p class="f-14 pl-5">Hyderabad</p>
                <p class="f-14 pl-5">Indore</p>
                <p class="f-14 pl-5">Kolkata</p>
                <p class="f-14 pl-5">Lucknow</p>
                <p class="f-14 pl-5">Mumbai</p>
                <p class="f-14 pl-5">Nagpur</p>
                <p class="f-14 pl-5">Pune</p>
            </div>
            <div class="col-sm-2-custo fp pl-5">
                <h4 class="f-16 f-w-bold c-3f">
                    Our Business Products
                </h4>
                <p class="f-14 pt-2">Buy a Business</p>
                <p class="f-14">Buy stake</p>
                <p class="f-14">Lend-to</p>
                <p class="f-14">Advisors</p>
                <p class="f-14">Sell Business</p>
                <p class="f-14">Investors</p>
            </div>
            <div class="col-sm-2-custo fp pl-5">
                <h4 class="f-16 f-w-bold c-3f">
                    Our Startup Products
                </h4>
                <p class="f-14 pt-2">Buy Startup</p>
                <p class="f-14">Buy stake</p>
                <p class="f-14">Connect-to</p>
                <p class="f-14">Advisors</p>
                <p class="f-14">List Startup</p>
                <p class="f-14">Investors</p>
            </div>
            <div class="col-sm-2-custo fp pl-5">
                <h4 class="f-16 f-w-bold c-3f">
                    COMPANY
                </h4>
                <p class="f-14 pt-2">About Us</p>
                <p class="f-14">Contact Us</p>
                <p class="f-14">Career with Us</p>
                <p class="f-14">Term of Use</p>
                <p class="f-14">Report a Problem</p>
                <p class="f-14">Our Blog</p>
                <p class="f-14">Feedback</p>
                <p class="f-14">FAQs</p>
                <p class="f-14">Press Room</p>
                <p class="f-14">Help</p>
            </div>
            <div class="col-sm-3-custo fp">
                <h4 class="f-25 f-w-bold c-3f">
                    Most advanced in this Industry
                </h4>
                <p class="f-16 pt-2">Sales @ Business Verge</p>
                <ul style="list-style-type: none;" class="p-0 pt-4 f-21">
                    <li class="social"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="social pl-5"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="social pl-5"><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li class="social pl-5"><a href=""><i class="fa fa-google" aria-hidden="true"></i></a></li>
                </ul>

            </div>
        </div>
    </div>
