<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <!-- <meta name="keywords" content="">
    <meta name="author" content=""> -->
  <title>Bverge | OTP Mailer</title>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;900&family=Poppins:wght@300;400;500;600;900&display=swap" rel="stylesheet">
  <style>
    body {
      margin: 0;
    }

    @media (max-width: 767px) {
      table {
        width: 100% !important;
      }
    }
  </style>
</head>

<body
  style="background-color:#fff; background-image: url(images/background-img.png); background-repeat-y: no-repeat; background-attachment: fixed; background-size: contain;">
  <table cellpadding="0" cellspacing="0" style="width: 643px;
    margin: 0px auto;
    border: transparent;
    font-family: arial; text-align: left;border: 1px solid #ccc;">
    <tr>
      <th colspan="2">
        <table
          style="width: 100%; background: #fff; border-top-left-radius: 20px; border-top-right-radius: 20px; padding: 0px;"
          cellpadding="0" cellspacing="0">
          <tr>
            <td
              style="text-align: center;  
              border-top-left-radius: 20px; 
              border-top-right-radius: 20px;
              font-family: 'Playfair Display', serif;
              font-style: normal;
              font-weight: 900;
              color: #14316B;
              position: relative;">
              <img src="https://www.bverge.com/static/seller1/images/homepage-banner.png" alt="Bverge" style="max-width: 100%;
              object-fit: cover;
              height: 140px;">
              <a href="" style=" position: absolute;
              left: 50%;
              top: 40%;
              padding: 0;
              transform: translate(-50%, -50%);
              margin: 0;
              font-size: 35px;
              text-decoration: none;"><span>BVerge</span></a>
            </td>
          </tr>
          <tr>
            <td
              style="padding: 50px 20px;
              color: #3F3F3F;
              font-family: 'Poppins', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 20px;text-align: center;">
              Please find the Email OTP for as Follows : 
              <span style="color:#192ED5;font-weight: bold;">
                {{ otp }}
              </span>
            </td>
          </tr>
          <tr>
            <td style="font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;padding-left:30px;            
            color: #3F3F3F;">              
              Thanks for availing services at <a href="https://www.bverge.com/" >www.bverge.com</a>
            </td>
          </tr>
          <tr>
            <td style="font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;padding-left:30px;            
            color: #3F3F3F; padding-bottom: 50px;padding-top: 2px;">              
              By submitting the OTP you agree with the <a href="https://www.bverge.com/terms" >terms and conditions</a> of use of <a href="https://www.bverge.com/" >www.bverge.com</a>
            </td>
          </tr>
        </table>
      </th>
    </tr>
  </table>
</body>

</html>