<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <!-- <meta name="keywords" content="">
    <meta name="author" content=""> -->
  <title>Bverge | Business Tamplate</title>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;900&family=Poppins:wght@300;400;500;600;900&display=swap" rel="stylesheet">
  <style>
    body {
      margin: 0;
    }

    @media (max-width: 767px) {
      table {
        width: 100% !important;
      }
    }
  </style>
</head>

<body
  style="background-color:#fff; background-image: url(https://www.bverge.com/static/seller1/images/homepage-banner.png); background-repeat-y: no-repeat; background-attachment: fixed; background-size: contain;">
  <table cellpadding="0" cellspacing="0" style="width: 643px;
    margin: 0px auto;
    border: transparent;
    font-family: arial; text-align: left;border: 1px solid #ccc;">
    <tr>
      <th colspan="2">
        <table
          style="width: 100%; background: #fff; border-top-left-radius: 20px; border-top-right-radius: 20px; padding: 0px;"
          cellpadding="0" cellspacing="0">
          <tr>
            <td
              style="text-align: center;  
              border-top-left-radius: 20px; 
              border-top-right-radius: 20px;
              font-family: 'Playfair Display', serif;
              font-style: normal;
              font-weight: 900;
              color: #14316B;
              position: relative;">
              <img src="https://www.bverge.com/static/seller1/images/homepage-banner.png" alt="Bverge" style="max-width: 100%;
              object-fit: cover;
              height: 140px;">
              <a href="" style=" position: absolute;
              left: 50%;
              top: 40%;
              padding: 0;
              transform: translate(-50%, -50%);
              margin: 0;
              font-size: 35px;
              text-decoration: none;"><span>Welcome to BVerge</span></a>
            </td>
          </tr>
          <tr>
            <td
              style="padding: 10px 20px 0;
              color: #3F3F3F;
              font-family: 'Poppins', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 26px;">
              Greetings !!!</td>
          </tr>
          <tr>
            <td style="padding: 10px 30px;
            color: #3F3F3F;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;">
              Thanks for Registering with <a href="https://www.bverge.com/" >www.bverge.com</a> (Business Verge). Welcome to the most advanced platform in this space. Our vision is to facilitate the reinvestment of Capital and Services and keep the wheels of global economy turning. 
            </td>
          </tr>
          <tr>
            <td style="font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #3F3F3F;">
              <ul style="list-style-type: none;padding-left: 75px;">
                <li>
                  Following are the Services we provide :
                </li>
              </ul>
              <ul style="list-style-type: none;padding-left: 75px;">
                <li>For Businesses:</li>
                <li>- Sell Business</li>
                <li>- Sell Stake in Business</li>
                <li> - Sell Asset / Machinery</li>
              </ul>
              <ul style="list-style-type: none;padding-left: 75px;">
                <li>For Suppliers</li>
                <li>- List as Supplier</li>
              </ul>
              <ul style="list-style-type: none;padding-left: 75px;">
                <li>For Franchise</li>
                <li>- List you Franchise</li>
              </ul>
              <ul style="list-style-type: none;padding-left: 75px;">
                <li>For StartUp</li>
                <li>- List your StartUp requirement (Sell Stake )</li>
                <li>- List your Website for Sale</li>
                <li>- List your IP (Intellectual Property)</li>
              </ul>
              <ul style="list-style-type: none;padding-left: 75px;">
                <li>For Investors</li>
                <li>- List as Individual Investor</li>
                <li>- List as Investment Company</li>
              </ul>

              <ul style="list-style-type: none;padding-left: 75px;">
                <li>For Advisors</li>
                <li>- List as Business Advisor</li>
                <li>- List as Startup Advisor</li>
              </ul>


            </td>
          </tr>
          <tr>
            <td style="font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;padding-left:30px;color: #3F3F3F;padding-top: 20px;">
              Warm Regards,
            </td>
          </tr>
          <tr>
            <td style="font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;padding-left:30px;            
            color: #3F3F3F; padding-bottom: 20px;">              
              BVerge Team
            </td>
          </tr>
          <tr>
            <td style="font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;padding-left:30px;            
            color: #3F3F3F; padding-bottom: 50px;padding-top: 5x;">              
              Click here for <a href="www.bverge.com/terms" >Terms of Use</a> of <a href="https://www.bverge.com/" >www.bverge.com</a>
            </td>
          </tr>
        </table>
      </th>
    </tr>
  </table>
</body>

</html>